@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    font-family: 'PT Sans';
    background: #F5F5F5;
}
li{
    list-style: none;
}
/*Наша основная шапка сайта*/
.hat-style{
    background:#202846;
    height: 9.0rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#roll-up-to-the-top{
    position: fixed;
    width: 4%;
    left: 95.5%;
    top: 85%;
    opacity: 0.50;
}
#roll-up-to-the-top-size{
    width: 100%;
}
#roll-up-to-the-top:hover{
    transform: scale(1.2);
    transition: 500ms;
}
.icon-style{
    height: 7.0rem;
    width: 17.8rem;
}
.hat-style a:hover{
    opacity: 0.60;
    transition: 500ms;
}
.navigation{
    width: 80%;
}
.navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links-on-the-site{
    border-right: 3px solid white;
    width: 100%;
    padding-right: 1% ;
    text-align: center;
}
.links-on-the-site:last-child{
    border: none;
}
.link-style{
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.1rem;
    color: #FFFFFF;
}
.icon-style-ua{
    width: 11.8rem;
    height: 6.0rem;
}
.link-style:hover{
    transition: 500ms;
    opacity: 0.60;
    color: #F5F5F5;
}
/*Наша основная шапка сайта*/
/*Основа сайта*/
/*Oкно-начало*/
.background-fon{
    height: 14.0rem;
    background: #C6C6DC;
    width: 100%;
    display: inline-block;
}
.text1-position-style{
   width: 40%;
   margin-left: 13%;
   margin-top: 0.3%;
}
.text1-position-style p{
    width: 100%;
    font-size: 4.8rem;
    font-weight: 400;
    font-style: italic;
    color: #202846;
}
/*Oкно-начало*/
/*Поисковое окно*/
.search-image{
    height: 7.3rem;
    width: 85%;
    margin: 0 auto;
    margin-top: 5.6rem;
    background: #E8E8E8;
}
.search-icon{
    position: relative;
    width: 3.4rem;
    height: 3.3rem;
    left: 95%;
    top: 35%;
}
.icon-style-hover:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 1s;
}
.text2-position-style{
    width: 100%;
}
.text2-position-style p{
    text-align: center;
    font-weight: 400;
    font-size: 2.8rem;
    color: #0000009C;
    margin-top: -1.3rem;
}
/*Поисковое окно*/
/* Основа брони*/
.background-fon1{
    height: 30.0rem;
    background: #BDBDC6;
    margin: 0 auto;
    width: 85%;
    margin-top: 5.6rem;
    display: flex;
}
.background-fon1:hover{
    background-color: #AEAEE2;
    transform: scale(1.1);
    transition: 500ms;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}
.star-icon{
    position: relative;
    width: 4.6rem;
    height: 4.6rem;
    left: 94.5%;
    top: 5%;
}
.star-icon svg path:hover{
    fill: yellow;
    transition: 300ms;
    cursor: pointer;
}
.box1{
    align-self: center;
    width: 40%;
    margin-right: 5%;
}
.box1:hover{
    cursor: zoom-in;
    transform: scale(1.1);
    transition: 500ms;
    opacity: 0.50;
}
.image-style{
   width: 100%;
}
.box2{
    width: 60%;
    margin-top: 0.8%;
}
.text3-position-style{
    width: 100%;
    font-weight: 700;
    font-size: 3.6rem;
    font-style: italic;
    color: #353C57;
    border-bottom: 0.2rem solid white;
}
.text4-position-style{
    text-align: center;
    word-break: break-all;
    font-weight: 400;
    font-size: 2.2rem;
    background: #D7D7DD;
    color: #202846;
    margin-top: -3.0rem;
    padding: 4.8% 7%;
}
.btn-position{
    position: relative;
    width: 6%;
    top: 80%;
    right: 4%;
}
.navigation_btn{
    text-decoration: none;
    font-weight: 400;
    font-size: 2.4rem;
    color: #FFFFFF;
    width: 100%;
    background-color: #202846;
    border-radius: 5rem;
    padding: 15% 40%;
}
.navigation_btn:hover{
    background-color: #EF075B;
    transition: 500ms;
}
.text4-1-position-style{
    text-align: center;
    word-break: break-all;
    color: #202846;
    font-weight: 400;
    font-size: 2.2rem;
    background: #D7D7DD;
    margin-top: -3.0rem;
    padding: 3.5% 7%;
}
/*Основа брони*/
/*Подвал*/
footer{
    background: #202846;
    height: 9.0rem;
    margin-top: 17.7rem;
}
footer p{
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 400;
    padding-top: 2%;
    padding-left: 3%;
    color: #EEECF1;
}
/*Подвал*/