@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    background: #F5F5F5;
    font-family: 'PT Sans';
}
li{
    list-style: none;
}
/*Шапка*/
.hat-style{
    background: #202846;
    height: 9.0rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hat-style a:hover{
    opacity: 0.60;
    transition: 500ms;
}
.icon-style{
    padding-left: 2%;
    width: 100%;
}
.navigation{
    width: 80%;
}
.navigation ul{
    display: flex;
    align-items: center;
}
.links-on-the-site{
    width: 100%;
    text-align: center;
    border-right: 3px solid white; 
}
.links-on-the-site:last-child{
    border: none;
}
.link-style{
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
}
.link-style:hover{
    transition: 500ms;
    opacity: 0.60;
    color: #F5F5F5;
}
/*Шапка*/
/*Основа*/
.background-fon{
    height: 14.0rem;
    background: #C6C6DC;
    width: 100%;
    display: inline-block;
}
.text1-position-style{
   width: 40%;
   margin-left: 13%;
   margin-top: 0.3%;
}
.text1-position-style p{
    width: 100%;
    font-size: 4.8rem;
    font-weight: 400;
    font-style: italic;
    color: #202846;
}
.background-fon1{
    background: #BDBDC6;
    height: 49.8rem;
    margin: 0 auto;
    width: 66%;
    margin-top: 4.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.box1{
    width: 20%;
}
.image-style{
    width: 100%;
    margin-left: 8%;
    margin-bottom: 3.8rem;
}
.btn-style{
    text-decoration: none;
    white-space: nowrap;
    font-size: 2.4rem;
    font-weight: 400;
    color: white;
    background-color: #484A54;
    padding: 5% 20%;
    border-radius: 3rem;
}
.link-position1{
    margin-bottom: 20%;
}
.link-position2{
    margin-left: 3%;
}
.btn-style:hover{
    background-color: #69749B;
    transition: 500ms;
}
.box2{
    width: 60%;
    margin-left: 5%;
}
.text-style{
    font-weight: 700;
    font-size: 3.6rem;
    font-style: italic;
    color: #353C57;
    border-bottom: 3px solid white;
}
.text-style:last-child{
    border: none;
}
.text-style2{
    font-weight: 400;
}
.exit{
    position: relative;
    margin-top: 4.0rem;
    margin-bottom: 13.0rem;
    width: 15%;
    left: 46%;
}
.exit-style{
    text-decoration: none;
    font-size: 2.7rem;
    width: 100%;
    align-self: center;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #202846;
    border-radius: 3rem;
    padding: 5% 25%; 
}
.exit-style:hover{
    background-color: #69749B;
    transition: 500ms;
}
/*Основа*/
/*Подвал*/
footer{
    background: #202846;
    height: 9.0rem;
    margin-top: 13.0rem;
}
footer p{
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 400;
    padding-top: 2%;
    padding-left: 3%;
    color: #EEECF1;
}
/*Подвал*/
