@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    background: #F5F5F5;
    font-family: 'PT Sans';
}
li{
    list-style: none;
}
/*Шапка*/
.hat-style{
    background: #202846;
    height: 9.0rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hat-style a:hover{
    opacity: 0.60;
    transition: 500ms;
}
.icon-style{
    padding-left: 2%;
    width: 100%;
}
.navigation{
    width: 80%;
}
.navigation ul{
    display: flex;
    align-items: center;
}
.links-on-the-site{
    width: 100%;
    text-align: center;
    border-right: 3px solid white; 
}
.links-on-the-site:last-child{
    border: none;
}
.link-style{
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
}
.link-style:hover{
    transition: 500ms;
    opacity: 0.60;
    color: #F5F5F5;
}
/*Шапка*/
/*Основа*/
.background-fon{
    height: 14.0rem;
    background: #C6C6DC;
    width: 100%;
    display: inline-block;
}
.text1-position-style{
   width: 40%;
   margin-left: 13%;
   margin-top: 0.3%;
}
.text1-position-style p{
    width: 100%;
    font-size: 4.8rem;
    font-weight: 400;
    font-style: italic;
    color: #202846;
}
.box{
    padding-top: 6.3rem;
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box1{
    width: 26%;
}
.text{
    width: 100%;
    text-align: left;
    font-size: 3.2rem;
    font-weight: 400;
    color: #000000;
    border-bottom: 2px solid black ;
}
.text2{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
    color: #000000;
}
.box a{
    text-decoration: none;
}
.box a:hover{
    color: #69749B;
}
.box2{
    width: 65%;
    padding-top: 7.6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6.4rem;
}
.box3{
    width: 40%;
}
/*Основа*/
/*Подвал сайта*/
footer{
    background: #202846;
    height: 9.0rem;
}
footer p{
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 400;
    padding-top: 2%;
    padding-left: 3%;
    color: #EEECF1;
}
